<div id="banner">
    <div class="content">
<form action="/animals" method="post">

  <p><label for="name">Name:</label></p>
  <input id="name" type="text" name="name">
  <p><label for="admission_date">Admission Date:</label></p>
  <input id="admission_date" type="text" name="admission_date">
  <p><label for="age">Age:</label></p>
  <input id="age" type="text" name="age">
  <p><label for="sex">Sex:</label></p>
  <input id="sex" type="text" name="sex">

</form>
</div>
</div>
