<div id="banner">
    <div class="content">

      <br>
      <br>
      <br>


      <div class="title">
        Add Animal

      </div>
      <br>
      <div class="right">
      <a href="/animals">Back</a>
      </div>


      <br>
      <hr>
      <br>


<form action="/animals" method="post">

  <p><label for="name">Name:</label></p>
  <input id="name" type="text" name="name">
  <p><label for="admission_date">Admission Date:</label></p>
  <input id="admission_date" type="date" name="admission_date">
  <p><label for="age">Age:</label></p>
  <input id="age" type="text" name="age">
  <p><label for="sex">Gender:</label></p>
  <input id="sex" type="text" name="sex">

  <p><label for="breed">Breed:</label></p>
  <input id="breed" type="text" name="breed">
  <p><label for="adoptable">Adoptable:</label></p>
  <input id="adoptable" type="text" name="adoptable">





  <p><label for="image_path">Image Path:</label></p>
  <input id="image_path" type="text" name="image_path">

  <p><input type='submit' value="Save"></p>

  <br>

  <br>
  <br>
  <br>
  <br>

</form>
</div>
</div>
