<div id="banner">
    <div class="content">

      <br>
      <br>
      <br>


      <div class="title">
        Add Animal

      </div>
      <br>
      <div class="right">
      <a href='/animals/new'>Add Animal</a>
      </div>


      <br>
      <hr>
      <br>


<form action="/animals" method="post">

  <p><label for="name">Name:</label></p>
  <input id="name" type="text" name="name">
  <p><label for="admission_date">Admission Date:</label></p>
  <input id="admission_date" type="date" name="admission_date">
  <p><label for="age">Age:</label></p>
  <input id="age" type="text" name="age">
  <p><label for="sex">Sex:</label></p>
  <input id="sex" type="text" name="sex">
  <p><label for="image_path">image path:</label></p>
  <input id="image_path" type="text" name="image_path">

  <p><input type='submit' value="Add Animal"></p>

  <br>

  <br>
  <br>
  <br>
  <br>

</form>
</div>
</div>
