html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
	height: 100%;
  width: 100%;
	margin: 0;
	text-align: center;
	padding: 0;
  
}

h1 {
	font-size: 32px;
  font-family: 'Quicksand', 'Palatino Linotype', serif;
  color: #000;
  letter-spacing: 2px;
  font-weight: 800;
}

p {
  font-size: 18px;
  font-family: 'Quicksand', 'Palatino Linotype', serif;
  color: #000;
  letter-spacing: 2px;
  font-weight: 800;

}

a {
  color: #000;
  text-decoration: none;
}

a:hover {color: #5aa86c;
  text-decoration: none;
}
