html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
	height: 100%;
  width: 100%;
	margin: 0;
	text-align: center;
  background-color: #93c7ce;
  padding: 0;

}

.background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("/images/gif.gif");


}


header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 90px;
  background-color: white;

}

.header {
text-align: left;
padding: 0 30px;
display: inline;
float: left;
}

ul {
  margin: 30px auto;
  padding: 0 30px;
  text-align: right;
}

li {
  color: #000;
  font-family: 'Quicksand', sans-serif;

  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  width: 120px;
}


h1 {
	font-size: 32px;
  font-family: 'Quicksand', 'Palatino Linotype', serif;
  color: #000;
  letter-spacing: 2px;
  font-weight: 800;
}

h2 {
	font-size: 14px;
  font-family: 'Quicksand', 'Palatino Linotype', serif;
  color: #000;
  letter-spacing: 2px;
  font-weight: 300;
}

p {
  font-size: 18px;
  font-family: 'Quicksand', 'Palatino Linotype', serif;
  color: #000;
  letter-spacing: 2px;
  font-weight: 800;

}

a {
  color: #000;
  text-decoration: none;
}

a:hover {color: #5aa86c;
  text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  #ffffff;
    color: white;
    text-align: center;
    font-family: 'Quicksand', 'Palatino Linotype', serif;
    height: 60px;
    margin-top: -60px;
    clear: both;
    padding-top: 10px;
    margin:  auto;

}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px
    solid black;
    text-align: center;
    width: 1000px;
    align-self: center;
}








#wrapper {
    width: 500px;
    margin: 0 auto;
}


#banner .content {
  background-color: clear;
  position: center;
  width: 1050px;
  padding: 50px;
  line-height: 10px;
  padding-top: 120px;
  margin: 0 auto;

}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  height: 100%;





}

.inner_flex {

  width: 30%;
  height: 60%;
  text-align: left;
  background-color: white;
  width: 330px;
  margin: 5px;


}

.inner_flex p {

  padding-left: .5rem;
}


.title {
  display: inline-block;
  font-size: 25px;
  font-family: 'Quicksand', 'Palatino Linotype', serif;
  color: #000;
  letter-spacing: 2px;
  font-weight: 800;
  float: left;
}

.right {
  float: right;
  font-size: 25px;
  font-family: 'Quicksand', 'Palatino Linotype', serif;
  color: #000;
  letter-spacing: 2px;
  font-weight: 800;
  padding-right: .5rem;
}
