<div id="banner">
    <div class="content">

      <br>
      <br>
      <br>


      <div class="title">
      Edit Customer

      </div>
      <br>
      <div class="right">
      <!-- <a href='/animals/new'>Add Animal</a> -->
      </div>


      <br>
      <hr>
      <br>

<form action="/owners/<%= @owners.id %>" method="post">

  <label for="first_name"><p>First Name:</p></label>
  <input id="first_name" type="text" name="first_name" value="<%= @owners.first_name %>">
  <label for="last_name"><p>Last Name:</p></label>
  <input id="last_name" type="text" name="last_name" value="<%= @owners.last_name %>">
  <label for="contact_no"><p>Contact:</p></label>
  <input id="contact_no" type="text" name="contact_no" value="<%= @owners.contact_no %>">



  <input type="submit" value="Save">



</form>
<br>

<br>


</div>
</div>
