<div id="banner">
    <div class="content">

      <br>
      <br>
      <br>


      <div class="title">
      Customers

      </div>
      <br>
      <div class="right">
      <a href='/owners/new'>Add Customer</a>
      </div>


      <br>
      <hr>
      <br>

<table>
  <tr>
     <th><p>First Name</p></th>
     <th><p>Last Name</p></th>
     <th><p>Contact</p></th>

  </tr>

<% @owners.each do |owner| %>
  <tr>

  <td><p> <%= owner.first_name %></p></td>
  <td><p><%= owner.last_name %></p></td>
  <td><p><%= owner.contact_no %></p></td>
  <td><p><a href="/owners/<%= owner.id %>">Details</a></p></td>
</tr>
<% end %>
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</div>
</div>
