<div id="banner">
    <div class="content">

      <br>
      <br>
      <br>


      <div class="title">
        Add Customer

      </div>
      <br>
      <div class="right">
      <a href='/owners/new'>Add Customer</a>
      </div>


      <br>
      <hr>
      <br>




<form action="/owners" method="post">

  <p><label for="first_name">First Name:</label></p>
  <input id="first_name" type="text" name="first_name">
  <p><label for="last_name">Last Name:</label></p>
  <input id="last_name" type="text" name="last_name">
  <p><label for="contact_no">Contact:</label></p>
  <input id="contact_no" type="text" name="contact_no">

  <p><input type="submit" value="Save"></p>

</form>
</div>
</div>
